.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3em;
}
.input {
  margin: 2em;
}

/* Progress bar */
.progressBar {
  margin-top: 1em;
  align-self: stretch;
  min-width: 500px;
}

/* React calendar styling */
.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}
.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}
.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}
.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}
.react-calendar-heatmap .color1 {
  fill: #c8e293;
}
.react-calendar-heatmap .color2 {
  fill: #7fc777;
}
.react-calendar-heatmap .color3 {
  fill: #319844;
}
.react-calendar-heatmap .color4 {
  fill: #205f2c;
}
